@charset "UTF-8";
/*
.slide1 {
    position: center;
  }
  .slide1 img {
    position: center;
    padding: 0;
    width: 150px;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation : slideshow1 10s linear infinite;
  }
  @keyframes slideshow1 {
    0%   { opacity: 0; }
    28%  { opacity: 1; }
    50%  { opacity: 1; }
    75%  { opacity: 0; }
    100% { opacity: 0; }
  }
    */